html, body
{
    margin: 0px;
    height: 100%;
    background-color: #2b55a9;
}

.space
{
    display: block;
    width: 100%;
    height: auto;
}

.auto
{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}

.wrap
{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.page
{
    position: absolute;
    left: 15px;
    right: 15px;
    z-index: 0;
    visibility: hidden;
}

.page.show
{
    z-index: 1;
}

.area
{
    position: relative;
}

.stars
{
    margin-top: 5px;
    margin-bottom: 5px;
}

.bg1
{
    background-image: url(img/mainbg1.png);
    background-size: 100%;
    background-position: center top;
}

.btn_start
{
    display: block;
    width: auto;
    height: 100%;
    margin: 0px auto;
}

.rule
{
    background-image: url(img/rulebg.png);
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;
}

.ruleimg
{
    background-image: url(img/rule.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.question
{
    overflow: hidden;
    background-image: url(img/questionbg.png);
    background-size: 100%;
    background-repeat: repeat-y;
}

#question
{
    width: 593px;
    height: 140px;
    position: absolute;
    transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
}

#ques img
{
    position: absolute;
    display: none;
}

.car
{
    position: absolute;
    width: 95px;
    height: 95px;
    border-radius: 16px;
    overflow: hidden;
    background-color: #dedede;
    top: 22px;
}

.car img
{
    position: absolute;
    top: 16px;
    width: 100%;
    height: auto;
    display: none;
}

.car img.result
{
    position: absolute;
    top: 0px;
    display: block;
    width: 100%;
    height: 100%;
}

#car0
{
    left: 239px;
}

#car1
{
    left: 355px;
}

#car2
{
    left: 470px;
}

#gamebg
{
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
}

#gamearea
{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#game
{
    width: 593px;
    height: 315px;
    position: absolute;
    transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
}

#item1, #item2, #item3
{
    position: absolute;
    display: block;
    top: 20px;
}

#item1
{
    left: 49px;
}

#item2
{
    left: 223px;
}

#item3
{
    left: 396px;
}

.twobtns
{
    text-align: center;
}

.twobtns img
{
    display: inline-block;
    height: 100%;
    width: auto;
    margin: 0px 15px;
}

.form
{
    position: absolute;
    overflow: hidden;
    width: 593px;
    height: 504px;
    transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    background-image: url(img/form.png);
}

.box
{
    position: absolute;
    box-sizing: border-box;
    width: 300px;
    height: 76px;
    line-height: 76px;
    color: #fff;
    padding: 0px 20px;
    border: 0px none;
    background-color: transparent;
    display: block;
    left: 234px;
    font-size: 30px;
}

#p_name
{
    top: 150px;
}

#p_phone
{
    top: 260px;
}

#p_cartype, #s_cartype
{
    top: 366px;
}

#p_cartype
{
    opacity: 0;
}

.giftimg
{
    display: table;
}

.giftimg span
{
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.giftimg span img
{
    display: block;
    max-width: 80%;
    max-height: 80%;
    margin: 0px auto;
}

.sharetip
{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 9999;
    background-color: rgba(0,0,0,0.7);
}

.sharetip img
{
    display: block;
    width: 100%;
}