<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <customErrors mode="Off" />
      <compilation targetFramework="4.0" />
      <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="14400" stateNetworkTimeout="14400" />
    </system.web>
<connectionStrings>
    <add name="db" connectionString="Data Source=.;Initial Catalog=luckygame;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
