.sl-stage {
	position: absolute;
	overflow: hidden;
}

.sl-container {
	position: absolute;
	width: 100%;
	height: 100%;
	transition: transform 600ms;
    -webkit-transition: -webkit-transform 600ms;
}

.sl-page {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.sl-content {
	position: absolute;
	transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
}
