<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="appid" value="wx694d9ce7bc5d4ba7" />
    <add key="appsecret" value="9e53a6325605c23854acfe891ff9922b" />
    <!--活动开始时间-->
    <add key="limitdate" value="2015/4/1" />
    <!--代言语音获得多少次赞后可获得抽奖机会-->
    <add key="voiceplaylimit" value="5" />
    <!--每月销售代表兑换抽奖码的截止日-->
    <add key="separationday" value="15,30" />

    <add key="sms_username" value="cf_jlo" />
    <add key="sms_password" value="123456" />
    <add key="sms_interface" value="http://106.ihuyi.cn/webservice/sms.php?method=Submit" />
    <add key="sms_template_vcode" value="您的验证码是：{0}。请不要把验证码泄露给其他人。如非本人操作，可不用理会！" />
    <add key="sms_template_chance" value="恭喜您，通过{0}获得{1}次抽奖机会，请在微信中访问“长安欧诺”官方微信号开始抽奖。" />
    <add key="sms_template_sale_success" value="您提交的金欧诺销售信息审核成功，恭喜获得{0}积分。" />
    <add key="sms_template_sale_fail" value="您提交的金欧诺销售信息审核失败，请重新输入。" />
    <add key="sms_template_customer_success" value="您提交的购车人身份信息审核成功，恭喜您获得1次抽奖机会，请在微信中访问“长安欧诺”官方微信号开始抽奖。" />
    <add key="sms_template_customer_fail" value="您提交的购车人身份信息审核失败，请重新输入。" />
  </appSettings>
    <system.web>
      <customErrors mode="Off" />
      <compilation targetFramework="4.0" />
      <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="14400" stateNetworkTimeout="14400" />
    </system.web>
  <connectionStrings>
    <add name="db" connectionString="Data Source=.;Initial Catalog=goldhonor;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
