<!DOCTYPE html>
<html>
<head>
    <title>focus 1</title>
	<meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1"/>

    <script src="@Url.Content("~/Content/js/jquery.min.1.7.js")" type="text/javascript"></script>

   <link rel="stylesheet" href="@Url.Content("~/Content/css/home.css")">
</head>

<body>
    @RenderBody()
    <script type ="text/javascript" src="@Url.Content("~/Content/js/main.js")"></script>
</body>
</html>
