<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="authurl" value="http://wxauth.app.bolaa.net/auth.ashx"/>
    <add key="serv_name" value="supercup"/>
    <add key="scope" value="snsapi_base"/>
  </appSettings>
    <system.web>
      <compilation targetFramework="4.0" />
    </system.web>
    <connectionStrings>
      <add name="db" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=supercup;Integrated Security=True"/>
    </connectionStrings>
</configuration>
